motd=SMP
gamemode=survival
difficulty=normal
hardcore=false
pvp=true
online-mode=false
white-list=true
enforce-whitelist=true
spawn-protection=16
max-players=10
view-distance=8
simulation-distance=6
allow-flight=false
enable-command-block=false
server-port=25565
server-ip=
level-name=world
level-seed=
generate-structures=true
